{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
It’s not goodbye
 </div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
It’s see you later <img height="20px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/door.png" />
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
  Hi, {{ .firstname }}. <br>
You were part of a { .clanname} clan, but not anymore.<br> 
We’re not sure what happened, but we know that when a window closes, somewhere opens a door.<br>
We had a blast with you and hope to see you soon in some new clan or founding your very own clan. <br><br>
Best of luck,<br>
Clanbeat team
</div>
<div style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:10px;
  line-height:5px;
  text-align:center;
  color:#333233;
  width: 500px;
  font-weight: 400;" align="center">
</div>
{{ end }}
