{{ define "content" }}
<div style="padding-left: 20px;">
<div style="padding-bottom: 12px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size:36px;
  line-height:40px;
  text-align:left;
  letter-spacing: 1px;  
  color:#505050;
  width: 400px;
  font-weight: bold;">
It’s not goodbye
 </div>
<div style="padding-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size:21px;
  opacity: 0.5;
  line-height:40px;
  text-align:left;
  color:#505050;
  width: 400px; ">
It’s see you later <img height="20px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/alligator.png" />
</div>
<div style="padding-bottom: 80px;
  font-family: 'Lato', sans-serif;
  font-size:21px;
  line-height:25px;
  text-align:left;
  letter-spacing: 0.6px;
  color:#505050;
  width: 500px;">
  Hi, {{ .firstName }}. You were part of {{ .projectName }} on Clanbeat, but not anymore.<br>
We’re not sure what happened, but we know that when a window closes, somewhere opens a door.<br>
We had a blast with you and hope to see you again.<br><br>
Best of luck,<br>
Clanbeat team
</div>
</div>
{{ end }}
