{{ define "content" }}
<br />
<a href="https://clanbeat.com" target="_blank">
    <img src="https://clanbeat.com/images/logo.svg" width="102" height="22" alt="Clanbeat logo" style="outline: none; -ms-interpolation-mode: bicubic; display: block;">
</a>
<div class="title-text">
  You’re the chosen one
 </div>
<div class="pink-text">
  Somebody wants to 1-on-1 with you 🎉
</div>
<div class="body-text">
  Hi, { .firstname }. { .username } scheduled a 1-on-1 with you for { .date }. You don’t have to wait until then, instead you can already start preparing. Be sure to highlight your most important <font color="#007d32">highs</font> and <font color="#b62839">lows</font> to rock even better in the future.<br><br>Your notes will always be private so don’t hold back. Oh, and if the time set isn’t the best one you can reschedule it on 1-on-1 view.
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href=""
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center; 
		font-weight: 600; 
		text-decoration:none;
		-webkit-text-size-adjust:none;">Go to 1-on-1s </a>
  	</div>
<div class="bottom-text" align="center">
  <p>If you no longer wish to receive  notifications about 1-on-1 requests, <u><font color="#6D5BBC"> unsubscribe here.</font></u>
</div>
{{ end }}
