{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
  You're in
  <br>
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
  Welcome to Clanbeat! <img height="20px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/balloon.png" />
  <br>
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
  As a founder and admin of this clan your can:
<div>
  <ul>
    <li>invite and manage new clan members</li>
    <li>prepare for 1-on-1s and add private notes</li>
    <li>have 1-on-1s with everybody in your clan</li>
    <li>get personal checklist of items you agreed on during 1-on-1</li>
    <li>get the daily highs and lows of your clan</li>
    <li>get monthly statistics of your clan’s happiness and activity.</li>
  </ul>

</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href=""
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center;
		font-weight: 400;
		text-decoration:none;
		-webkit-text-size-adjust:none;">Go to {{ .projectName }}</a>
  </div>
  <div style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:10px;
  line-height:5px;
  text-align:center;
  color:#333233;
  width: 500px;
  font-weight: 400;" align="center">
  You can grow your clan and test out Clanbeat 30 days for free. To continue your subscription <a href="{{ .subscriptionLink }}" style="color:#6D5BBC;">click here.</a>
</div>
{{ end }}
