{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
  Invitation is still pending
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
  This ain’t the way to do 1-on-1s
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:22px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
  Hi, { .firstname }. You have invited { .email } to join your clan { .clanname } on Clanbeat. However, it’s been a very long week and the invitation hasn’t been accepted yet. You might want do a tribal dance around them,  send a reminder or check the e-mail address for typos.
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href=""
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center;
		font-weight: 600;
		text-decoration:none;
		-webkit-text-size-adjust:none;">Go to clan </a>
  	</div>
<div style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:10px;
  line-height:5px;
  text-align:center;
  color:#333233;
  width: 500px;
  font-weight: 400;" align="center">
  <p>If you no longer wish to receive  notifications about pending invitations, <u><font color="#6D5BBC"> unsubscribe here.</font></u>
</div>
{{ end }}
