{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
  You're invited
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
  And you will love it <img style="height:20%;" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/Heart.png" />
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
  {{ .inviterName }} wants you to join the clan {{ .projectName }} on Clanbeat. Clanbeat is an HR tool that puts employee first. <span style="white-space: nowrap">Meaningful 1-on-1s</span> are on your way!
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href="{{ .link }}"
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center;
		font-weight: 400;
		text-decoration:none;
		cursor:pointer;
		-webkit-text-size-adjust:none;">Join {{ .projectName }}</a>
  </div>
  <div style="padding-bottom: 15px;
  padding-top: 25px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:30px;
  line-height:40px;
  text-align:center;
  color:#979796;
  font-weight: 600;">
	  Here's how it works:
  </div>
  <table style="width: 100%;" align="center">
	<tr>
		<td style="width: 50%;">
			<div style="padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:30px;
  line-height:40px;
  text-align:left;
  color:#333233;
  font-weight: 600;">Post daily
			</div>
		</td>
		<td style="width: 50%" rowspan="2"><div style="padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;"><img style="width:100%" src="https://clanbeat.com/images/dummy-1.png" /></div></td>
	</tr>
	<tr>
		<td style="width: 50%; vertical-align: top;">
			<div style="padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:20px;
  text-align:left;
  color:#979797;
  font-weight: 400;">What makes you happy or gets you down. It’s like a team diary.
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 50%;" rowspan="2"><div style="padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;"><img style="width:100%" src="https://clanbeat.com/images/dummy-2.png" /></div></td>
		<td>
			<div style="padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:30px;
  line-height:40px;
  text-align:left;
  color:#333233;
  font-weight: 600;">Schedule 1-on-1s
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 50%; vertical-align: top;">
			<div style="padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:20px;
  text-align:left;
  color:#979797;
  font-weight: 400;">Everyone can schedule 1-on-1s. You can start preparing right after scheduling.
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 50%;">
			<div style="padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:30px;
  line-height:40px;
  text-align:left;
  color:#333233;
  font-weight: 600;">Have 1-on-1s
			</div>
		</td>
		<td style="width: 50%;" rowspan="2"><div style="padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;"><img style="width:100%" src="https://clanbeat.com/images/dummy-3.png" /></div></td>
	</tr>
	<tr>
		<td style="width: 50%; vertical-align: top;">
			<div style="padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:20px;
  text-align:left;
  color:#979797;
  font-weight: 400;">Daily highs and lows end up here. You will go over them together with last goals, set new goals and give feedback to each other.
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 50%;" rowspan="2"><div style="padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;"><img style="width:100%" src="https://clanbeat.com/images/dummy-4.png" /></div></td>
		<td style="width: 50%;">
			<div style="padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:30px;
  line-height:40px;
  text-align:left;
  color:#333233;
  font-weight: 600;">Get things done
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 50%; vertical-align: top;">
			<div style="padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:20px;
  text-align:left;
  color:#979797;
  font-weight: 400;">After a 1-on-1, start working on your new goals. They're easy to keep track of!
			</div>
		</td>
	</tr>
</table>
{{ end }}
