{{ define "content" }}
<br />
<a href="https://clanbeat.com" target="_blank">
  <img src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/logo.jpg" width="102" height="22" alt="Clanbeat logo" style="outline: none; -ms-interpolation-mode: bicubic; display: block;">
</a>
<div class="title-text">
  It’s 1-on-1 time!
 </div>
<div class="pink-text">
  Just a little reminder ⏰
</div>
<div class="body-text">
  Hi, { .firstname }. How exciting, your 1-on-1 with { .username } is already tomorrow! Take a look at what { .firstname } has been up to and make notes to get the most out of your meeting.
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href=""
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center;
		font-weight: 600;
		text-decoration:none;
		-webkit-text-size-adjust:none;">Go to 1-on-1s </a>
  	</div>
<div class="bottom-text" align="center">
  <p>If you no longer wish to receive  reminders about upcoming 1-on-1s, <u><font color="#6D5BBC"> unsubscribe here.</font></u>
</div>
{{ end }}
