{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
  What happened in your day?
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
  Keep the streak alive!
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
  Hi, {{ .username }}. We noticed that you haven’t posted any highs or lows today. Don’t forget to do it. Actually, why not do it now?
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href="{{ .buttonLink }}"
    style="padding-left:30px;
	    padding-right:30px;
		background-color:#6D5BBC;
		border-radius:8px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:23px;
		line-height:45px;
		text-align:center;
		font-weight: 400;
		text-decoration:none;
		-webkit-text-size-adjust:none;">Post now </a>
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
Posting everyday helps to track your motivators and mood killers. So you can have meaningful 1-on-1s in your team.
</div>
<div style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:10px;
  line-height:5px;
  text-align:center;
  color:#333233;
  width: 500px;
  font-weight: 400;" align="center">
  <p>You can change email frequency from Clanbeat <a href="{{ .settingsLink }}"><font color="#6D5BBC"> settings page.</font></a></p>
  <p> If you no longer wish to receive reminders, <a href="{{ .unsubscribeLink }}"><font color="#6D5BBC">unsubscribe here.</font></a></p>
</div>
{{ end }}
