{{ define "content" }}
<div style="padding-left: 20px;">
<div style="padding-bottom: 12px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size:36px;
  line-height:40px;
  text-align:left;
  letter-spacing: 1px;  
  color:#505050;
  width: 400px;
  font-weight: bold;">
  Something needs your attention</div>
<div style="padding-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size:21px;
  opacity: 0.5;
  line-height:40px;
  text-align:left;
  color:#505050;
  width: 500px; ">
  A task was assigned to you <img height="20px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/todo.png" />
</div>
<div style="padding-bottom: 80px;
  font-family: 'Lato', sans-serif;
  font-size:21px;
  line-height:25px;
  text-align:left;
  letter-spacing: 0.6px;
  color:#505050;
  width: 500px;">
Hi, {{ .firstName }}.<br>
Something needs your attention. Better have a look!
</div>
</div>
  <div style="text-align:center; padding-bottom: 50px;">
  <a href="{{ .link }}"
    style="padding-left:67px;
	    padding-right:67px;
		height: 52.5px;
		background-color:#00bd54;
		border-radius:200px;
		color:#ffffff;
		display:inline-block;
		font-family: 'Lato', sans-serif;
		font-size:24px;
		line-height:52.5px;
		text-align:center;
		text-decoration:none;
		-webkit-text-size-adjust:none;">Go to Clanbeat</a>
  </div>
{{ end }}
