{{ define "content" }}
<div style="padding-bottom: 15px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:40px;
  line-height:40px;
  text-align:left;
  color:#333233;
  width: 400px;
  font-weight: 600;">
  Farewell, friend
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:40px;
  text-align:left;
  color:#FD067D;
  width: 400px;
  font-weight: 400;">
  It’s not us, it’s you, right
</div>
<div style="padding-bottom: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size:20px;
  line-height:25px;
  text-align:left;
  color:#333233;
  width: 500px;
  font-weight: 400;">
	Bye-bye, { .firstname}.<br>
Yeah, we get it. We are very, very sad to see you go. Goodbyes are dang hard, but we wish you all the best and secretly hope that one day our paths cross again!
</div>
{{ end }}
