{{ define "content" }}
<div style="padding-left: 20px;">
<div style="padding-bottom: 12px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size:36px;
  line-height:40px;
  text-align:left;
  letter-spacing: 1px;  
  color:#FF9C4A;;
  width: 400px;
  margin-bottom:40px;">
  	Hi {{ .toFirstName }},
</div>
<div style="font-family: 'Lato', sans-serif;
  font-size:21px;
  line-height:25px;
  text-align:left;
  letter-spacing: 0.6px;
  color:#505050;
  width: 500px;
  margin-bottom: 30px;">
  {{ .message }}
</div>
<table>
	<tbody>
		<tr>
			<td>
				<img src="{{ .fromPicture }}" style="width: 80px; height: 80px; margin-right: 10px; border-radius: 50%;" />
			</td>
			<td>
				<p style="font-family: 'Lato', sans-serif; color: #505050; margin-bottom: 0; font-size: 18px;">{{ .fromUsername }}</p>
				<p style="font-family: 'Lato', sans-serif; color: #ABB5C0; margin-top: 0; font-size: 18px;">{{ .fromJobTitle }}</p>
			</td>
		</tr>
	</tbody>
</table>
</div>
{{ end }}
