{{ define "content" }}
<br />
<div class="logo" style="text-align:center;margin-bottom: 50px;">
  <img src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/logo.jpg" style="height:25px;" height="25"/>
</div>
<div style="text-align:center;margin-bottom:50px;">
  <h1 style="margin-bottom: 15px;">Your monthly summary</h1>
  <span style="font-size: 16px;color:#fd067d;">{{ .start }} - {{ .end }} </span>
</div>
<div class="body-text">
  <div style="font-size:20px;line-height:24px;text-align:center;">
    Hey, {{ .user.firstName }}! This is just a quick overview,
    at the end of every month you'll receive one like this.
  </div>
  <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
  <div style="text-align:center;">
    <h2>Mood Level</h2>
    <table width="100%" style="width:100%!important;margin-top:25px;margin-bottom:25px;">
      <tr>
        <td style="border:none;height:15px;background-color:#f8503b;border-radius:3px 0 0 3px;width:{{ .totals.lowsPercentage }}%;"></td>
        <td style="border:none;height:15px;background-color:#7ed220;border-radius:0 3px 3px 0;width:{{ .totals.highsPercentage }}%;"></td>
      </tr>
    </table>
    <div >
      Your clan had <span style="color:#7ed220;">{{ .totals.highsPercentage }}% highs</span> ({{ .totals.highsCount }} posts)
      and <span style="color:#f8503b;">{{ .totals.lowsPercentage }}% lows</span> ({{ .totals.lowsCount }} posts).
      <br />
      That’s {{ lessOrMore .totals.highsDelta }} highs
      and {{ lessOrMore .totals.lowsDelta }} lows than previous month.
    </div>
  </div>
  <div class="totals" style="text-align:center;">
    <table style="margin:25px 0 25px 0;padding:20px 0 20px 0;margin-bottom:25px;width:100%;border-top:1px dashed #7058c1;border-bottom:1px dashed #7058c1;">
      <tr>
        <td>Total posts</td>
        <td>Public posts</td>
        <td>Private posts</td>
      </tr>
      <tr style="color:#fd067d;">
        <td>
          {{ .totals.moods }}
          <span style="color:#1DAEE8;font-size:12px;">({{ .totals.moodsDelta }} posts)</span>
        </td>
        <td>
          {{ .totals.publicMoods }}
          <span style="color:#1DAEE8;font-size:12px;">({{ .totals.publicDelta }} posts)</span>
        </td>
        <td>
          {{ .totals.privateMoods }}
          <span style="color:#1DAEE8;font-size:12px;">({{ .totals.privateDelta }} posts)</span>
        </td>
      </tr>
    </table>
  </div>
  <div style="text-align:center;">
    Looking great! Keep up the good work! <img width="25px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/party.png"  />
  </div>
  {{ if .happiness }}
    <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
    <div style="text-align:center;">
      <h2>Happiness level <img width="25px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/star.png"  /></h2>
      <table style="width:100%;margin-top:30px;">
        {{ with $items := .happiness }}
          {{ range $index, $item := $items }}
            {{ if and (hasMiddle (len $items) 6) (isMiddle $index 6) }}
              <tr><td colspan="4" style="border-bottom: 1px dashed #fcc331;"></td></tr>
            {{ end }}
          <tr style="height:70px;">
            <td style="width:30px;text-align:left;">
              #{{ $item.position }}
            </td>
            <td style="width:70px;">
              <div style="width:50px;height: 50px;border-radius:50%;margin-right:10px;background-image:url('{{ $item.picture }}');background-size: cover;background-position:center center;background-repeat: no-repeat;"></div>
            </td>
            <td style="text-align:left;">
              <div style="font-weight:bold;">{{ $item.username }}</div>
              <div style="font-size:14px;font-weight:regular;">{{ $item.jobTitle }}</div>
            </td>
            {{ with $color := colorForList $index (hasMiddle (len $items) 6) }}
              <td style="color:#7ed220;text-align:right;color:{{$color}};">{{ $item.value }}%</td>
            {{ end }}
          <tr>
          {{ end }}
      {{ end }}
      </table>
    </div>
  {{ end }}
  {{ if .activity }}
    <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
    <div style="text-align:center;">
      <h2>Activity level <img width="25px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/campfire.png"  /></h2>
      <table style="width:100%;margin-top:30px;">
      {{ with $items := .activity }}
        {{ range $index, $item := $items }}
          {{ if and (hasMiddle (len $items) 6) (isMiddle $index 6) }}
            <tr><td colspan="4" style="border-bottom: 1px dashed #fcc331;"></td></tr>
          {{ end }}
          <tr style="height:70px;">
            <td style="width:30px;text-align:left;">
              #{{ $item.position }}
            </td>
            <td style="width:70px;">
              <div style="width:50px;height: 50px;border-radius:50%;margin-right:10px;background-image:url('{{ $item.picture }}');background-size: cover;background-position:center center;background-repeat: no-repeat;"></div>
            </td>
            <td style="text-align:left;">
              <div style="font-weight:bold;">{{ $item.username }}</div>
              <div style="font-size:14px;font-weight:regular;">{{ $item.jobTitle }}</div>
            </td>
            {{ with $color := colorForList $index (hasMiddle (len $items) 6) }}
              <td style="text-align:right;color:{{$color}};">{{ $item.value }} posts</td>
            {{ end }}
          <tr>
          {{ end }}
        {{ end }}
      </table>
    </div>
    <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
  {{ end }}
</div>
{{ end }}
