{{ define "content" }}
<br />
<div class="logo" style="text-align:center;margin-bottom: 50px;">
  <img src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/logo.jpg" style="height:25px;" />
</div>
<div style="text-align:center;margin-bottom:50px;">
  <h1 style="margin-bottom: 15px;">Your monthly summary</h1>
  <span style="font-size: 16px;color:#fd067d;">{{ .start }} - {{ .end }} </span>
</div>
<div class="body-text">
  <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
  <div style="text-align:center;">
    <h2>Mood Level</h2>
    <table style="width:100%;margin-top:25px;margin-bottom:25px;">
      <tr>
        <td style="height:15px;background-color:#f8503a;border-radius:10px 0 0 10px;width:{{ .totals.lowsPercentage }}%;"></td>
        <td style="height:15px;background-color:#00bd54;border-radius:0 10px 10px 0;width:{{ .totals.highsPercentage }}%;"></td>
      </tr>
    </table>
    <div>
      You had <span style="color:#00bd54;font-weight:bold;">{{ .totals.highsPercentage }}% highs</span> ({{ .totals.highsCount }} posts)
      and <span style="color:#f8503b;font-weight:bold;">{{ .totals.lowsPercentage }}% lows</span> ({{ .totals.lowsCount }} posts).
      <br />
      That’s {{ lessOrMore .totals.highsDelta }} highs
      and {{ lessOrMore .totals.lowsDelta }} lows than previous month.
    </div>
  </div>
  <div class="totals">
    <table style="text-align:center;margin:25px 0 25px 0;padding:20px 0 20px 0;margin-bottom:25px;width:100%;border-top:1px dashed #bdbdbd;border-bottom:1px dashed #bdbdbd;">
      <tr style="color:#333233;font-size:16px;height:30px;">
        <td>Total posts</td>
        <td>Public posts</td>
        <td>Private posts</td>
      </tr>
      <tr style="color:#fd067d;font-size:23px;height:30px;">
        <td>
          {{ .totals.moods }}
          <span style="color:#826bd0;font-size:12px;">({{ upOrDown .totals.moodsDelta }})</span>
        </td>
        <td>
          {{ .totals.publicMoods }}
          <span style="color:#826bd0;font-size:12px;">({{ upOrDown .totals.publicDelta }})</span>
        </td>
        <td>
          {{ .totals.privateMoods }}
          <span style="color:#826bd0;font-size:12px;">({{ upOrDown .totals.privateDelta }})</span>
        </td>
      </tr>
    </table>
  </div>
  <div style="text-align:center;">
    Looking great! Keep up the good work! <img width="25px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/party.png"  />
  </div>
  <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
  <div style="text-align:center;">
    <h2>Upcoming 1-on-1s <img width="25px" src="https://s3.eu-central-1.amazonaws.com/clanbeat-emails/handsup.png"  /></h2>
    {{ if .reviews }}
    <table style="width:100%;margin-top:30px;">
    {{ range $index, $item := .reviews }}
      {{ if addReviewSeparator $index }}
        <tr><td colspan="4" style="border-bottom: 1px dashed #fcc331;"></td></tr>
      {{ end }}
        <tr style="height:70px;">
          <td style="text-align:right;font-weight:bold;">{{ $item.date }}</td>
          <td style="width:70px;">
            <div style="background-size:cover;width:50px;height: 50px;border-radius:50%;margin-right:20px;margin-left:20px;background: url('{{ $item.picture }}') no-repeat center / cover;"></div>
          </td>
          <td style="text-align:left;width:50%;">
            <div style="font-weight:bold;">{{ $item.username }}</div>
            <div style="font-size:14px;font-weight:regular;">{{ $item.jobTitle }}</div>
          </td>
        </tr>
    {{ end }}
    </table>
    {{ else }}
      <div>
        No 1-on-1s coming up. What a pity! But you don't have to wait, you can
        take matters into your own hands and schedule one right away.
      </div>
    {{ end }}
    <div style="margin: 40px auto 40px auto;text-align: center;">
      <a href="{{ .oneOnOneLink }}" target="_blank" style="margin:20px;padding: 15px 90px;width:100px;height:50px;border-radius:100px;background-color:#00bd54;color:white;text-decoration:none;">
        Go to 1-on-1s
      </a>
    </div>
    <div style="margin: 30px 0 20px 0;height:18px;background:url('https://s3.eu-central-1.amazonaws.com/clanbeat-emails/line.jpg') repeat-x top / auto 10px"></div>
  </div>
</div>
<footer style="font-size:12px;text-align:center;padding-bottom:30px;">
  This is just a quick overview, at the end of every month you'll receive one like this.
</footer>
{{ end }}
